body {
  margin: 0;
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #ccc;
  transform: translateX(-100%);
  transition: all .5s;
}

.menu.opened {
  transform: translateX(0);
}

#open {
  transition: all .5s;
}

.menu.opened + #open {
  margin-left: 200px;
}
